<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../../partials/head.ejs") %>
    <title>Umfrage - <%= survey.name %></title>
  </head>

  <body>
    <header>
      <%- include("../../partials/header.ejs") %>
    </header>
    <div class="container">
      <h1><%= survey.name %></h1>
      <h3><%= survey.description %></h3>
      <br />
      <h4 class="no-print">
        Einladungen:
        <a href="/admin/survey/<%= survey._id  %>/invites"
          >(<%= invitecount %>)</a
        >
      </h4>

      <br />
      <h4>
        Fragen:
        <a href="/admin/survey/<%= survey._id  %>/questions"
          >(<%= survey.fields.length %>)</a
        >
      </h4>
      <br />
      <a class="no-print" href="../surveys">Zurück</a>
    </div>

    <footer>
      <%- include("../../partials/footer.ejs") %>
    </footer>
  </body>
</html>
